<div class="modal" tabindex="-1" role="dialog" id="the-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Session Expiration</h5>
            </div>
            <div class="modal-body">
                Your session will expire in:
                <span id="seconds">
                    30
                </span>
                seconds
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary refresh-button" id="refresh-button" data-dismiss="modal">I am here</button>
            </div>
        </div>
    </div>
</div>