<div class="modal" tabindex="-1" role="dialog" id="timeout-modal" style="display: {{timeout}};">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Session Expiration</h5>
            </div>
            <div class="modal-body">
                Your session has expired
            </div>
            <div class="modal-footer">
                <a href="/login"><button type="button" class="btn btn-primary" id="ok-button" data-dismiss="modal">OK</button></a>
            </div>
        </div>
    </div>
</div>