body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 95vh;
}

.main{
    flex-grow: 1;
    height: 100%;
    margin-top: 4rem;
}
.message{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid;
    background-color: brown;
    color: whitesmoke;
    border-radius: 7px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-button button{
    padding: 11px;
    background-color: sienna;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 0px;
    width: 200px;
}

.custom-button button:hover{
    background-color: darkslateblue;
}