<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication and Authorization</title>
    {{>partials/head_include}}
</head>
    <body>
    {{>partials/header}}
    {{>partials/modal}}
    <div class="main-wrapper-403">
        <div class="box">
            <h2>403</h2>
            <p>Not authorized to view resource</p>
        </div>


        <div class="btn btn--secondary">
            <button onclick="location.href='/'" type="button" class="btn__content">
                Go to Home Page</button>
        </div>
    </div>


        {{>partials/footer}}
    </body>
</html>