<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication and Authorization</title>
    {{>partials/head_include}}
    <script>
      window.addEventListener('beforeunload', function(event) {
        console.log('I am the one.');
        $.ajax({
             type: "POST",
             url: "/",
             data: { name: "John"} // parameters
        })
      });
      window.addEventListener('unload', function(event) {
        console.log('I am the one.');
        $.ajax({
             type: "POST",
             url: "/login",
             data: { name: "Ahmed"} // parameters
        })
      });
    </script>
</head>
<body>
    {{>partials/header}}
    {{>partials/modal}}
    <div class="user-button-wrapper">
        <button onclick="location.href='/'" type="button">
            Back to Home</button>
    </div>
    <div class="main-users">
        <div>Course:</div>
        <hr>
        {{#courses}}
            <div class ="course">
                <b>Course ID: </b>{{courseId}} <br>
                <b>Course Name: </b>{{courseName}} <br>

            </div>
            <hr>
        {{/courses}}
    </div>

{{>partials/footer}}
</body>
</html>
