<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication and Authorization</title>
    {{>partials/head_include}}
    
</head>
<body>
    {{>partials/header}}
    {{>partials/modal}}

    <div class="main">
        <div class="jumbotron">
            <p class="lead">{{message}}</p>
            <hr class="my-4">
            <div class="user-button-wrapper">
                <button onclick="location.href='/'" type="button">
                    Back to Home</button>
            </div>
        </div>


    </div>
    {{>partials/footer}}
</body>
</html>
