<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication and Authorization</title>
    {{>partials/head_include}}
    <script>
      window.addEventListener('beforeunload', function(event) {
        console.log('I am the one.');
        $.ajax({
             type: "POST",
             url: "/",
             data: { name: "John"} // parameters
        })
      });
      window.addEventListener('unload', function(event) {
        console.log('I am the one.');
        $.ajax({
             type: "POST",
             url: "/login",
             data: { name: "Ahmed"} // parameters
        })
      });
    </script>
</head>
<body>
    {{>partials/header}}
    {{>partials/modal}}
    <div class="message">
        {{message}}
    </div>




    <div class="main">
        <div class="buttons">
            {{#ADMIN}}
                <div class="custom-button">
                    <button onclick="location.href='/users'" type="button">
                        Manage Users Page</button>
                </div>
            {{/ADMIN}}

            {{#ADMIN}}
                <div class="custom-button">
                    <button onclick="location.href='/students'" type="button">
                        Enroll students</button>
            </div>
            {{/ADMIN}}

            {{#TEACHER}}
                <div class="custom-button">
                    <button onclick="location.href='/students'" type="button">
                        Enroll students</button>
                </div>
            {{/TEACHER}}

            {{#ADMIN}}
                <div class="custom-button">
                    <button onclick="location.href='/courses'" type="button">
                        Manage Courses</button>
                </div>
            {{/ADMIN}}
            {{#TEACHER}}
                <div class="custom-button">
                    <button onclick="location.href='/courses'" type="button">
                        Manage Courses</button>
                </div>
            {{/TEACHER}}
            {{#STUDENT}}
                <div class="custom-button">
                    <button onclick="location.href='/courses'" type="button">
                        Manage Courses</button>
                </div>
            {{/STUDENT}}
        </div>
    </div>

    {{>partials/footer}}
</body>
</html>
