<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication and Authorization</title>
    {{>partials/head_include}}
</head>
<body>
    <div class="logout-button">
        <button onclick="location.href='/logout'" type="button">
            Logout</button>
    </div>

    <div>USERS:</div>
    <hr>
    {{#users}}
        <div class ="user">
            <b>User ID: </b>{{userId}} <br>
            <b>Username: </b>{{username}} <br>
            <b>User Email: </b>{{userEmail}} <br>
            <b>User Type: </b>{{type}} <br>
            <b>User permissions: </b> <br>
            <div class="user-permissions">
                {{#userPermissions}}
                    {{.}} <br>
                {{/userPermissions}}
            </div>
        </div>
        <hr>
    {{/users}}

    <div>
        <button onclick="location.href='/'" type="button">
            Back to Home</button>
    </div>
{{>partials/footer}}
</body>
</html>